@import "tailwindcss";

.ibm-plex-serif {
  font-family: "IBM Plex Serif", serif;
  font-weight: auto;
  font-style: normal;
}

.abeezee {
  font-family: "ABeeZee", sans-serif;
  font-weight: auto;
  font-style: normal;
}

.base-bg {
  background-color: #253942;
}

.base-color {
  color: #253942;
}

.base_border_color {
  border-color: #c7c7c7;
}

.aside-shadow {
  box-shadow: 4px 0px 20px #00000020;
}

.header-shadow {
  box-shadow: 0px 4px 20px #00000020;
}