<div class="w-full h-[700px] bg-gray-200 overflow-hidden rounded-b-3xl flex items-center justify-center relative">
  <video autoplay loop class="w-full brightness-40">
    <source src="/videos/bgone.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="h-full w-2/3 absolute mx-auto">
    <%= render 'partials/home/header' %>
    <div class="w-full py-14">
      <div class="space-y-10 mb-10">
        <h1 class="text-7xl ibm-plex-serif text-white" data-aos="fade-up" data-aos-duration="1000">Keep and analise your <span class="bg-white text-black">Clients</span> data</h1>
        <h1 class="text-7xl ibm-plex-serif text-white" data-aos="fade-up" data-aos-duration="1500"><span class="bg-white text-black">Save</span> and <span class="bg-white text-black">Easy.</span></h1>
      </div>
      <div class="space-y-7 text-white w-1/2" data-aos="fade-up" data-aos-duration="2000">
        <p>This CRM gives you chance to save data about your daily client and analise them by monthly and total charts and alot more.</p>
        <%= link_to 'Contact with Gits', new_session_path, class: "bg-white text-black py-3 px-7" %>
      </div>
    </div>
  </div>
</div>